<div class="layout__topbar">
  <div class="container__topbar">
    <p-toolbar>
      <div class="p-toolbar-group-left">
          <a href="#main__home" class="links-topbar"><i class="pi pi-home"></i> Home</a>
          <a href="#cards-coins" class="links-topbar" style="margin-left: 10px"><i class="pi pi-chart-line"></i> Criptomonedas</a>
          <a href="#faq" class="links-topbar" style="margin-left: 10px">Faq</a>

      </div>

      <div class="p-toolbar-group-right">

      </div>
    </p-toolbar>
  </div>
</div>
